<body>
<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="login-form">
        <form method="post" action="#" role="login" (submit)="getStatus()">
          <div class="social-buttons">
            <img src="http://austin.carpediem.cd/data/afisha/o/d1/71/d171a3776a.jpg" class="img-responsive">
            <a (click)="loginFB()"  class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
            <a (click)="logout()" class="btn btn-tw"><i class="fa fa-google-plus"></i> Google</a>
            <a routerLink="list"  *ngIf="status==='connected'"  class="btn btn-tw"><i class="fa fa-google-plus"></i> Google</a>
          </div>
          <input type="email" name="email" placeholder="Email" required class="form-control input-lg"/>

          <input type="password" class="form-control input-lg" id="password" placeholder="Password" required="" />


          <div class="pwstrength_viewport_progress"></div>



          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
          <div>
            <a href="#">Create account</a> or <a href="#">reset password</a>
          </div>

        </form>

        <div class="form-links">
          <a href="#">Here a super site</a>
        </div>
      </section>
    </div>

    <div class="col-md-4"></div>


  </div>
</div>
<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
<router-outlet></router-outlet>
</body>
