body{
  font-family: Montserrat, sans-serif;
  padding: 0;
  margin: 0;
}
header{
  padding-bottom: 150px;
}
.container{
  margin: 0 auto;
  padding: 0;
}
.menu{
  margin-top: 14px;
}
.search{
  margin-top: 14px;
  margin-left: 28px;
}
.logo{
  margin-top: 14px;
  margin-left: 380px;
  margin-right: 380px;
}
.share{
  margin-top: 14px;
}
.cart{
  margin-top: 14px;
  margin-left: 28px;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center
}
.navigation li{
  float: left;
  display: block;
  margin-right: 80px;
}
.navigation li a{
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;

}

.top_items{
  position: relative;
  display: flex;
  border: 2px solid green;
  margin: 10px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
}
.top_button{
  background: url("../../assets/imaiges/catalog/icon_arrow_up.png") no-repeat right;
}
