.block{

  z-index: 100;
  width:200px;
  height:300px;
  display: table-column;
  opacity: 1;
  -webkit-transform: scale(0.9,0.9);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(0.9,0.9);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 550ms;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

}
.block:hover {
  position: relative;
  z-index: 1;
  -webkit-transform: scale(2,2);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 550ms;
  -moz-transform: scale(2,2);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 350ms;
}
.center {

  text-align: center;

}

.gold{
  color: #FFBF00;
}

.pad{
  padding: 12px;
}

.product{
  border: 1px solid #dddddd;
  height: 321px;
}

.product>img{
  max-width: 230px;
}

.product-rating{
  font-size: 20px;
  margin-bottom: 25px;
}

.product-title{
  font-size: 20px;
}

.product-desc{
  font-size: 14px;
}

.product-price{
  font-size: 22px;
}

.product-stock{
  color: #74DF00;
  font-size: 20px;
  margin-top: 10px;
}

.product-info{
  margin-top: 50px;
}


.service1-items {
  padding: 0px 0 0px 0;
  float: left;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 321px;
  width: 130px;
}

.service1-item {
  height: 107px;
  width: 120px;
  display: block;
  float: left;
  position: relative;
  padding-right: 20px;
  border-right: 1px solid #DDD;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.service1-item > img {
  max-height: 110px;
  max-width: 110px;
  opacity: 0.6;
  transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
  cursor: pointer;
  opacity: 1;
}

.service-image-left {
  padding-right: 50px;
}

.service-image-right {
  padding-left: 50px;
}

.service-image-left > .center > img,.service-image-right > .center > img{
  max-height: 300px;
}
.image-pad{
  padding-top: 5px;
}
