<html lang="en" >
<head>
  <!--<link rel="stylesheet"type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>-->
  <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container-fluid">

        <div class="container-fluid col-md-6 image-pad">
          <div class="product col-md-6 service-image-left">

            <div>
              <img class="block" id="item-display" src="{{data.shoesPicture}}" alt="">
            </div>
          </div>

          <div class="container-fluid service1-items col-sm-2 col-md-2 pull-left">
            <div >
              <a id="item-1" class="service1-item ">
                <img src="{{data.shoesPicture}}"  alt="">
              </a>
              <a id="item-2" class="service1-item">
                <img src="{{data.shoesPicture}}" alt="">
              </a>
              <a id="item-3" class="service1-item">
                <img src="{{data.shoesPicture}}" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3" >
          <div class="product-title">{{data.shoesType}}</div>
          <div class="product-desc">{{data.shoesColor}}</div>
          <div class="product-rating"><i class="fa fa-star gold"></i>
            <i class="fa fa-star gold"></i>
            <i class="fa fa-star gold"></i>
            <i class="fa fa-star gold"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <hr>
          <div class="product-price">${{data.shoesPrice}}</div>
          <div class="product-stock">In Stock</div>
          <hr>
          <div class="btn-group cart">
            <button type="button" class="btn btn-success" [routerLink]="['/edit']" [queryParams]="{id: data.shoesId}">
              Edit
            </button>
          </div>
          <div class="btn-group wishlist">
            <button type="button" class="btn btn-danger" (click)="delete(id)" [routerLink]="['/list']">
              Delete
            </button>
          </div>
        </div>
      </div>
    <div class="container-fluid">
      <div class="col-md-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">

          <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>
          <li><a href="#service-two" data-toggle="tab">INFO</a></li>
          <li><a href="#service-three" data-toggle="tab">REVIEWS</a></li>

        </ul>
        <div id="myTabContent" class="tab-content" >
          <div class="tab-pane fade in active" id="service-one">

            <section class="container product-info">
              {{data.shoesFullDescription}}
            </section>

          </div>
          <div class="tab-pane fade" id="service-two">

            <section class="container product-info">
              {{data.shoesCode}}
              {{data.shoesType}}
              {{data.shoesColor}}
              {{data.shoesSeason}}
            </section>

          </div>
          <div class="tab-pane fade" id="service-three">
            <section class="container product-info">
              {{data.shoesCode}}
            </section>
          </div>
        </div>
        <hr>
      </div>
    </div>
</body>
<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</html>
<router-outlet></router-outlet>
