body{
  font-family: Montserrat, sans-serif;
}

div {
  margin: 0;
  padding: 0;
}
.dis_block{
  display: block;
}

header{
  background: url("../../assets/imaiges/landing-page/bg_1.jpg") no-repeat center top / cover;
  padding-bottom: 350px;
}
.head{
  display: flex;
  justify-content: space-evenly;
}
.container{
  margin: 0 auto;
}
.menu{
  margin-top: 14px;
  margin-right: 20px;
}
.search{
  margin-top: 14px;
}
.logo{
  margin-top: 14px;

}
.share{
  margin-top: 14px;
  margin-right: 20px;
}
.cart{
  margin-top: 14px;
}
.line{
  margin-top: 20px;
  width: 70%;
  height: 1px;
  border-bottom: 1px solid black;
}

.heading{
  display: flex;
  justify-content: center;
}
.navigation{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navigation li{
  list-style-type: none;
  text-decoration: none;
  margin-right: 80px;
}
.navigation li a{
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;

}
.titles{
  display: flex;
  flex-flow: column;
  margin-left: 140px;
  margin-top: 220px;
}
.titles_first{
  font-size: 56px;
  color: #000;
}
.titles_second{
  display: flex;
  font-size: 13px;
  color: #9d9d9d;
}
.button{
  background: #000;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  display: block;
  width: 190px;
  padding: 25px 0;
  text-decoration: none;
  text-align: center;
  margin-top: 50px;
}
.advantages{
  display: flex;
  justify-content: space-around;
}
.advantages h3{
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 35px;
}

.advantages p{
  color: #929292;
  font-size: 13px;
  line-height: 1.55em;
}
.services{
  width: 320px;
  text-align: center;
  padding-top: 45px;
}
.services:last-child{
  float: right;
}
.services:nth-child(2){

}

#pictures{
  display: flex;
  float: left;
}

.container1{

}

.themeblock{
  display: flex;
  justify-content: space-between;
}
.wrapper{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.theme_img{
  height: 322px;
  width: 320px;
}

.btn_wrapper{
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: -90px;
}
.btn{
  z-index: 10;
  background: #000;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  width: 250px;
  padding: 25px 0;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 3px 50px rgba(0,0,0,0.16);
  transition: all 0.5s ease;
}
.btn:hover{
  background: #fff;
  color: #000;
}
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 110px
}
.toptranding{
  font-size: 42px;
}
.line_2{
  margin-top: 20px;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid black;
}
.line{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.text_products{
  font-size: 13px;
  color: #929292;
  margin-top: 10px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}
.tabs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tab{
  margin-left: 50px;
  background: url("../../assets/imaiges/landing-page/tab_bg.png") no-repeat;
  width: 135px;
  height: 43px;
  margin-top: 40px;
  padding-top: 10px;
  text-transform: none;
  text-align: center;
  display: block;
  justify-content: center;
  font-size: 12px;
  align-content: center;
  color: #d3d3d3;
  text-decoration: none;
  transition: all 0.9s ease;
}

.tab:hover{
  background: url("../../assets/imaiges/landing-page/active_tab_bg.png") no-repeat;
  color: #000000;
}

.rows{
  background: #f6f6f6;
  justify-content: space-between;
  align-items: flex-start;

}

.text_overlay {
  display: flex;
  flex-direction: column;
  margin: 10px;

}
.wrapper_top{
  display: flex;
  flex-wrap: wrap;
  background: #edeaea;

}

.colection{
  width: auto;
  height: auto;
}
.colection:hover{
  z-index: 1;
  background: #9d9d9d;
  opacity: 0.7;
}
.but_wrap{
  display: flex;
  justify-content: space-between;
  margin-top: -70px;
  margin-left: 10px;
  margin-right: 10px;
}
.quick{
  z-index: 1000;
  margin-right: 15px;
  width: 150px;
  height: 50px;
  background: black;
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  box-shadow: 0 3px 50px rgba(0,0,0,0.16);
  transition: all 0.5s ease;
}
.quick:hover{
  background: white;
  color: black;

}
.more{
  z-index: 1000;
  background: white;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;

  box-shadow: 0 3px 50px rgba(0,0,0,0.16);
  transition: all 0.5s ease;
}
.more:hover{
  color: white;
  background: black;
}

.text{
  font-size: 14px;
  color: #000000;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.text_wrap{
  margin-top: 20px;
}
.price{

  font-size: 16px;
  color: #929292;
  text-align: center;
}
.b{
  display: flex;
  justify-content: center;
  margin: 85px 0;
}

.a{
  background: #000;
  color: #fff;
  font-size: 11px;
  width: 230px;
  height: 70px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 3px 50px rgba(0,0,0,0.16);
  transition: all 0.5s ease;
}
.a:hover{
  background: white;
  color: black;
}
.bags_items{
  display: flex;
  justify-content: space-between;
  /* flex-wrap: nowrap; */
  background: lightgray;
}
.ba{
}

.bagsback{
  background: url(../../assets/imaiges/landing-page/bags.png) no-repeat center;
  width: 958px;
  height: 630px;
}
.text_bags_wrap{
  /* margin-left: 90px; */
  /* text-align: center; */
  display: flex;
  flex-wrap: wrap;
  /* background: lightgray; */
  flex-flow: column;
  justify-content: center;
}
.bags_text{
  display: flex;
  /* flex-wrap: wrap; */
  /* flex-flow: column; */
  justify-content: flex-end;
  /* margin-left: 280px; */
}
.shoes_1{
}
.bags_shoes_text{
  font-size: 42px;
  color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}
.bags_shoes_text img{
}
.bags_shoes_text p{
  font-size: 13px;
  color: #929292;
}
.second_T{
  font-size: 13px;
  color: #929292;
  width: 50%;
}
.bags_button{
  display: flex;
  justify-content: center;
}
.text_but{
  background: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  display: flex;
  color: black;
  margin-top: 15px;
  flex-flow: column;
  justify-content: center;
  /* padding: 15px; */
  /* margin: 25px; */
  width: 150px;
  height: 50px;
  text-decoration: none;
  box-shadow: 0 3px 50px rgba(0,0,0,0.16);
  transition: all 0.5s ease;

}
.text_but:hover{
  background: black;
  color: white;
}

.brands_tops{
  display: flex;
  flex-wrap: wrap;
  /* flex-flow: row; */
  justify-content: space-between;

}
.brand_item{
  background: url("../../assets/imaiges/landing-page/sisley.png")no-repeat center;
  width: 126px;
  height: 31px;
}
.brand_item:nth-child(2){
  background: url("../../assets/imaiges/landing-page/wrangler_logo.png")no-repeat center;
  width: 119px;
  height: 36px;
}
.brand_item:nth-child(3){
  background: url("../../assets/imaiges/landing-page/fred_logo.png")no-repeat center;
  width: 153px;
  height: 19px;
}
.brand_item:nth-child(4){
  background: url("../../assets/imaiges/landing-page/levis_logo.png")no-repeat center;
  width: 99px;
  height: 25px;
}
.brand_item:nth-child(5){
  background: url("../../assets/imaiges/landing-page/jack_logo.png")no-repeat center;
  margin-top: 10px;
  width: 169px;
  height: 15px;
}
.brand_item:nth-child(6){
  background: url("../../assets/imaiges/landing-page/lacoste_logo.png")no-repeat center;
  width: 128px;
  height: 21px;
}
.brand_images{
  display: flex;
}
.brand_image{
  background: url("../../assets/imaiges/landing-page/girl_5.jpg")no-repeat center;
  width: 320px;
  height: 320px;
}
.brand_image:nth-child(2){
  background: url("../../assets/imaiges/landing-page/girl_4.jpg")no-repeat center;
  width: 320px;
  height: 320px;
}
.brand_image:nth-child(3){
  background: url("../../assets/imaiges/landing-page/girl_3.jpg")no-repeat center;
  width: 320px;
  height: 320px;
}
.brand_image:nth-child(4){
  background: url("../../assets/imaiges/landing-page/girl_2.jpg")no-repeat center;
  width: 320px;
  height: 320px;
}
.brand_image:nth-child(5){
  background: url("../../assets/imaiges/landing-page/girl_1.jpg")no-repeat center;
  width: 320px;
  height: 320px;
}
.brand_image:nth-child(6){
  background: url("../../assets/imaiges/landing-page/girl6.jpg")no-repeat center;
  width: 320px;
  height: 320px;
}
.maps{
  display: flex;
  background: url("../../assets/imaiges/landing-page/map.jpg")no-repeat center;
  width: auto;
  height: 400px;
}
.address{
  width: 377px;
  height: 236px;
  margin-top: 106px;
  margin-left: 403px;
}

.map_address{
  /*background: url("../../assets/imaiges/landing-page/adress.jpg") no-repeat;*/
  background: white;
  margin-left: 100px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 50px darkgrey;
  flex-flow: column;
}
.map_address_address{
  font-size: 14px;
  color: #000;
  margin: 10px;
}
.info{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: space-around;

}
.arkana_info{
  width: 360px;
  margin-top: 65px;
  margin-right: 50px;
}
.text_info{
  margin-top: 50px;
  font-size: 13px;
  color: #929292;
}
.social{
  display: flex;
  margin-top: 30px;
}
.fab{
  font-size: 24px;
  margin-right: 20px;
}
.account_info{

  margin-right: 30px;
}
.subscribe{
  display: flex;
  flex-flow: column-reverse;
  margin-top: 20px;
  border: 1px solid #929292;
}
#email{
  box-sizing: border-box;
  width: 70%;
  height: 50px;
  outline: 0;
  border: 0;
}
input,
textarea {
  outline:none;
}
.subs{
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 11px;
  font-weight: 600;
  margin-left: 20px;
}
.products_info{
  display: block;
  margin-top: 65px;
}
.prd_head{
  font-size: 16px;
  color: black;
}
.drop{

}
.links{
  display: block;
  width: auto;
  margin-top: 50px;
}
.price_drop{
  display: block;
  text-decoration: none;
  color: #929292;
  font-size: 12px;
  margin-top: 15px;
}
.price_drop:hover{
  box-shadow: 0 3px 50px rgba(0,0,0,0.16);
}
footer{
  display: flex;
  justify-content: space-around;
  background: black;
  padding: 20px 0;
}
.legal_info{
  font-size: 13px;
  color: #959494;

}

@media only screen and (max-width: 2048px) {
  .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapper_top{
    justify-content: center;
  }
}

@media only screen and (max-width: 1023px){
  .titles{
    margin-left: auto;
  }
  .wrapper{
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapper_top{
    justify-content: center;
  }
  .bags_items{
    flex-wrap: wrap;
  }
  .map_address{
    margin-left: 0;
  }
  .products_info{
    display: none;
  }
  .info{
    flex-wrap: nowrap;
  }
  footer{
    flex-wrap: wrap;
    justify-content: center;

  }
  #email{
    width: 60%;
    justify-content: center;
  }
  .bags_button{
    margin-bottom: 20px;
  }
  .text_overlay{
    width: 95%;
  }
}
@media only screen and (max-width: 823px){
  .text_overlay{
    width: auto;
  }
  .bags_button{
    justify-content: end;
  }
}
@media only screen and (max-width: 563px) {
  .text_overlay {
    width: 95%;
  }
}
