
<!------ Include the above in your HEAD tag ---------->
<div class="background-bar">
<form class="form-horizontal " ngForm="data">
  <fieldset>

    <!-- Form Name -->
    <button class="" [routerLink]="['/item']" [queryParams]="{id: data.shoesId}"> Back</button>
    <legend>Product - {{data.shoesType}}</legend>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Type</label>
      <div class="col-md-4">
        <input id="ProductName" name="ProductName" type="text" placeholder="Type" [(ngModel)] ="data.shoesType" class="form-control input-md">
      </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Season</label>
      <div class="col-md-4">
        <input  name="FeaturesTwo" type="text" placeholder=" Season" [(ngModel)]="data.shoesSeason" class="form-control input-md">

      </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Color</label>
      <div class="col-md-4">
        <input  name="FeaturesTwo" type="text" placeholder=" Color" [(ngModel)]="data.shoesColor" class="form-control input-md">

      </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Code</label>
      <div class="col-md-4">
        <input id="FeaturesThree" name="FeaturesThree" type="text" placeholder="Code" [(ngModel)] ="data.shoesCode" class="form-control input-md">
      </div>
    </div>
    <!-- Select Multiple -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="cardtype">Short Descroption</label>
      <div class="col-md-4">
        <textarea name="cardtype" class="form-control" placeholder="Short Description" [(ngModel)]="data.shoesShortDescription"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Full description</label>
      <div class="col-md-4">
        <textarea id="cardtype" name="cardtype" class="form-control" placeholder="Full Description" [(ngModel)]="data.shoesFullDescription"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
    <div class="col-md-4 control-label">
      <a class="btn btn-success" (click)="update(data)">
        Save
      </a>
    <a class="btn btn-danger" href="list">
      Cancel
    </a>
    </div>
    </div>
  </fieldset>
</form>
</div>
