.background-bar{
  background-color: transparent;

}
.background{
  background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');
  padding-left: 50px;
}
